<% content_for :title do %>
	New Department Area
<% end %>

<% content_for :breadcrumb do %>
	<li><%= link_to "Department - Areas", department_areas_path %></li>
  	<li class='active'>New</li>
<% end %>

<h4>Assign an Area to the Department</h4>

<%= form_for @depArea, builder: MyFormBuilder, html: {class: "form-horizontal"} do |form| %>
	<%= render partial: 'form', locals: {form: form} %>
<% end %>