<% content_for :title do %>
	Newly Created Info
<% end %>

<h3>Newly Created Info</h3> 

<p>Congratuations on creating an account. Before you can go ahead and create issues or procedures, you first must set-up the business. First you must create departments, areas, assign those areas to the departments and set up the impacts that the issues will have</p>

<p>Below are some quick links to get you started</p>

<ol>
	<li><%= link_to "Departments", departments_path %></li>
	<li><%= link_to "Areas", areas_path %></li>
	<li><%= link_to "Departments Area's", department_areas_path %></li>
	<li><%= link_to "Impacts", impacts_path %></li>
</ol>