<% content_for :title do %>
	About
<% end %>

<h3>About</h3>

<p>Better Management was created out of a need to provide a service that can help with the operation and management of systems. The story starts at my previous employer where they had no instruction manuals, reference books or procedures on how to deal with issues and common tasks. We had to rely on the knowledge of the operators and the maintence personel to get the machines up and running quickly. Time and time again the same issues would come up over the course of years and spend precious time re-figuring out how to fix the problems on the machine. That was the lightbulb moment, create web application that business and users can quickly add issues, but also quickly retreive that information.</p>

<p>Another area that was lacking was how operators used to be trained, by learning from the previous operators. From experiences there is always a loss of information when passing on knowledge between operators. This led to the birth of the step-by-step task page by clearly identifing the task, the steps involved in completing the task and any hints and tips picked up along the way.</p>

<p>But our journy has only just begun. We at Better Management envision this web app to become a platform to ease the burden on managing parts of your business. Therefore leading to an increase in your business productivity but also better reach the demands of your customers. </p>