<% content_for :title do %>
	Why	
<% end %>

<h3>WHY?</h3>

<p>The question everybody asks when wanting to use a service like this. There are many why's to using this site, but the main why would be to make the management and operation tasks within a business or companies. Below is a list of why's that we have come accross.</p>

<ol>
	<li>A reference point for any issues that you may add into the system</li>
	<li>Able to add step-by-step instructions on how to complete a particular task</li>
	<li>Easy to use administration page to manage all aspects of your system online</li>
</ol>

<p>If these why's are coming that would be of an interest to your company, create an account today</p>