<ol class="breadcrumb">
  <li><a href="/admin">Admin</a></li>
  <li class='active'>Issue Management</li>
</ol>

<table class='table'>
	<tr>
		<th>Issue Name</th>
		<th>Department</th>
		<th>Area</th>
		<th>Review Date</th>
	</tr>
	<% @issues.each do |issue| %>
		<% if issue.review_date < Time.now %>
			<tr class='danger'>
		<% else %>
			<tr>
		<% end %>
		<td><%= link_to issue.name, issue_management_path(issue) %></td>
		<td><%= issue.department_area.department.name %></td>
		<td><%= issue.department_area.area.name %></td>
		<td><%= issue.review_date %></td>
		</tr>
	<% end %>
</table>