<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Better Management, <%= @user.name %></h1>
    <p>
      An issue has been created regarding the <%= @issue.name %>
      
    </p>
    <p>
      To view this partiular issue, just follow this link: <%= @url %>.
    </p>
  </body>
</html>