<table class='table' id='i-table'>
		<tr>
			<th class="col-xs-5 col-sm-4">Name</th>
			<th width="col-xs-5 col-sm-8">Description</th>
		</tr>
		<%= render partial: "issues/collections/index_row", collection: issues, as: :issue %>
	</table>

	<%= will_paginate issues, renderer: BootstrapPagination::Rails %>

	stuf