<% content_for :third_level_layout do %>
	<br>
	<%= link_to 'Add Image', new_issue_image_path(@issue), class: "btn btn-default spacing" if @image_create %>
		<table class='table'>
			<tr>
				<th>Image</th>
				<th>Caption</th>
				<th>Actions</th>
			</tr>
			<%= render partial: "issues/collections/edit_images_row", collection: @images, as: :image %>
		</table>
<% end %>