<% content_for :title do %>
	Edit Solutions
<% end %>

<% content_for :third_level_layout do %>
	<br>
		<%= link_to "Add Solution", new_issue_solution_path(@issue), class: "btn btn-default spacing" if @solution_create %>
		<table class='table'>
			<tr>
				<th>Name</th>
				<th>Actions</th>
				<th>Images</th>
			</tr>
			<%= render partial: "issues/collections/edit_solutions_row", collection: @solutions, as: :solution %>
		</table>
<% end %>