<% content_for :third_level_layout do %>
	<br>
  	<%= link_to "Add workaround", new_issue_issue_workaround_path(@issue), class: "btn btn-default spacing" if @workaround_create %>
		<table class='table'>
			<tr>
				<th>Description</th>
				<th>Options</th>
				<th>Images</th>
			</tr>
			<%= render partial: "issues/collections/edit_workarounds_row", collection: @workarounds, as: :workaround %>
		</table>
<% end %>