<% content_for :title do %>
	Published Issues
<% end %>

<h3>Published Issues</h3>
<%= link_to "Create New Issue", new_issue_path, class: "btn btn-default spacing" if @create %>
<table class='table'>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Options</th>
	</tr>
	<%= render partial: "issues/collections/index_row", collection: @issues, as: :issue %>
</table>

<%= will_paginate @issues %>