<% content_for :title do %>
	Create an Issue
<% end %>
<h3>Create a New Issue</h3>
<%= form_for setup_issue(@issue), builder: MyFormBuilder , :html => { :multipart => true, class: "form-horizontal", role: "form" } do |form| %>
	<%= render partial: 'form', locals: {form: form} %>
<% end %>

<div class='row'>
	<div class="btn-group btn-group-justified">
		<%= link_to "Back", :back, class: "btn btn-default" %>
		<%= link_to "View All Issues", issues_path, class: 'btn btn-default' %>
	</div>
</div>