<% content_for :title do %>
	Search
<% end %>
<div>
	<h4>Search Page</h4>
	<p>The page will search through the name's and the description's and find close matches</p>
	
		<%= form_tag({controller: 'issues', action: 'search_results'}, method: :get, class: 'form-horizontal') do %>
			<div class='form-group'>
				
				<label class='col-sm-3 control-label'>Search column</label>
				<div class='col-sm-9'>
				<%= select_tag(:search_col, 
					options_for_select([
						['Issue id', 'id'],
						['Name', 'name'],
						['Description', 'description'],
						['Name and Description', 'name|description']
						]), class: 'form-control' ) %>
				</div>
			</div>

			<div class='form-group'>
				
				<label class='col-sm-3 control-label'>Search Terms</label>
				<div class='col-sm-9'>
					<%= text_field_tag :search, params[:search], id: 'search_field', class: 'form-control' %>
				</div>
			</div>
			<div class='form-group'>
				<div class='col-sm-3'>
				</div>
				<div class='col-sm-9'>
					<%= submit_tag "Search", name: nil, class: 'btn btn-default' %>
				</div>
			</div>
			<!%= link_to_function "Clear", "$('#search_field').clear()" %>
		<% end %>

</div>