<br>
<table class='table'>
	<tr>
		<th>Description</th>
		<th>Images</th>
	</tr>
	<% @att_sol.each do |att_sol| %>
		<tr>
			<td><%= att_sol.description %></td>
			<td></td>
		</tr>
	<% end %>
</table>