<br>
<table class='table'>
	<tr>
		<th>Description</th>
		<th>Images</th>
	</tr>
	<% @solutions.each do |solution| %>
		<tr>
			<td><%= solution.description %></td>
			<td></td>
		</tr>
	<% end %>
</table>