<% content_for :title do %>
	Edit Image
<% end %>

<ol class="breadcrumb">
  <li><a href="/admin">Admin</a></li>
  <li><%= link_to "Impacts", impacts_path %></li>
  <li><%= @impact.name %></li>
  <li class="active">Edit</li>
</ol>

<h4>Edit Impact</h4>
<%= form_for @impact, builder: MyFormBuilder, html: {class: "form-horizontal"} do |form| %>
	<%= render partial: 'form', locals: {form: form} %>
<% end %>