<% content_for :title do %>
	New Impact
<% end %>

<% content_for :breadcrumb do %>
	<li><%= link_to "Impacts", impacts_path %></li>
	<li class="active">New</li>
<% end %>

<h4>Add Impact</h4>
<%= form_for @impact, builder: MyFormBuilder, html: {class: "form-horizontal"} do |form| %>
	<%= render partial: 'form', locals: {form: form} %>
<% end %>