<h3>Edit Workaround</h3>
<%= form_for [@issue, @issue_workaround], builder: MyFormBuilder, html: {
		class: "form-horizontal"} do |form| %>
	<%= render partial: 'form', locals: {form: form} %>
<% end %>