<ol class="breadcrumb">
  <li><a href="/admin">Admin</a></li>
  <li><%= link_to "User", admin_user_static_path %></li>
  <li class="active">Create</li>
</ol>

<h4>Create a New User</h4>
<%= form_for @user, builder: MyFormBuilder, html: {class: "form-horizontal"} do |form| %>
	<%= render partial: 'form', locals: {form: form} %>
<% end %>