<%#= image_tag 'a.jpg', usemap: '#areas' %>


<div class='row'>
	<div class='col-sm-6'>
	<%= image_tag 'a.jpg', usemap: '#areas' %>
	<map name='areas'>
		<area shape='rect' class='a' coords="0,0,82,126" href='#' alt="hello">
	</map>
	</div>
	<div class='col-sm-6'>
	list
	</div>
</div>