<% content_for :title do %>
	Edit Area
<% end %>

<ol class="breadcrumb">
  <li><a href="/admin">Admin</a></li>
  <li>Departments / Areas</li>
  <li><%= link_to "Areas", areas_path %></li>
  <li><%= @area.name %></li>
  <li class='active'>Edit</li>
</ol>

<h4>Edit Area</h4>

<%= form_for @area, builder: MyFormBuilder, html: {class: "form-horizontal"} do |form| %>
	<%= render partial: 'form', locals: {form: form} %>
<% end %>