<% content_for :title do %>
	Edit Role
<% end %>

<% content_for :breadcrumb do %>
  <li><%= link_to "Roles", roles_path %></li>
  <li><%= link_to @role.name, role_path(@role) %></li>
  <li class='active'>Edit</li>
<% end %>

<% content_for :extra_information do %>
	<div class='col-sm-12'>
		<p>Below lists the information for the role '<%= @role.name %>'
	</div>
<% end %>
<p>
<%= form_for @role, html: {class: "form-horizontal"} do |form| %>
	<% render partial: form %>
<% end%>