
<% content_for :breadcrumb do %>
  <li><%= link_to "Roles", roles_path %></li>	
  <li class='active'>New</li>
<% end %>

<h4>Create a New Role</h4>
<%= form_for @role, html: {class: "form-horizontal"} do |form| %>
	<%= render partial: form %>
<% end %>