<h3>Add a <%= @class %> to <%= @issue.name %></h3>
<br>
<%= form_for [@issue, @review],url: {controller: 'reviews', action: :create}, builder: MyFormBuilder, html: {class: 'form-horizontal'} do |form| %>
	<%= render partial: 'reviews/form', locals: {form: form} %>
<% end %>