<% content_for :title do %>
	Edit Image
<% end %>

<% content_for :breadcrumb do %>
	<li>Image Management</li>
	<li class='active'>Edit</li>
<% end %>

<h3>Edit Image</h3>
<%= form_for @rr, builder: MyFormBuilder, html: {class: "form-horizontal"} do |form| %>
	<%= render partial: 'form', locals: {form: form} %>
<% end %>